.search-filter-block .span3.chosen-select{margin:0}
/*#advTabsContent .tab-pane {overflow: hidden; position: absolute; width: 940px; height: 260px; z-index: 1}*/
#adv-tab1 {position: static !important; z-index: 1; overflow: hidden}

#advTabsContent .chosen-container {z-index: 10; }
#advTabsContent .chosen-container.chosen-with-drop {z-index: 9999; position: absolute; margin-bottom: 70px;}
#advTabsContent .chosen-container.chosen-with-drop .chosen-drop {z-index: 9999; position: absolute;}
.noread {background: #F8E4DA}
