.search-filter-block .span3.chosen-select, .search-clubs-filter-block .span3.chosen-select{margin:0}
/*#advTabsContent .tab-pane {overflow: hidden; position: absolute; width: 940px; height: 260px; z-index: 1}*/
#adv-tab1 {position: static !important; z-index: 1; overflow: hidden}

#advTabsContent .chosen-container {z-index: 10; }
#advTabsContent .chosen-container.chosen-with-drop {z-index: 9999; position: absolute; margin-bottom: 70px;}
#advTabsContent .chosen-container.chosen-with-drop .chosen-drop {z-index: 9999; position: absolute;}
.noread {background: #F8E4DA}
.user-info .user-info {font-size: 13px; font-style: italic; color: #444; margin-bottom: 0; text-align: right;  margin-right: 10px;}
.user-info .user-profs {list-style: none; margin-left: 0; margin-bottom: 0px; text-align: right;  margin-right: 10px;}
.user-info .user-profs li{padding: 0 1px; font-style: italic; font-size: 13px;}
.user-info .user-club {font-style: italic; font-size: 13px; text-align: right;  margin-right: 10px;}
.my-compts .compt-img img {max-width: 60px; max-height: 60px}
.ratings-page .btn-group label {font-weight: normal}
#modal-gallery-post .image-info {width: 100%}
.my-compts .i-fan a, .my-compts .my-fans a{color:#fff}
.dennik_count {width: 35px}
ul.gallery-in-post {height: auto !important;}

.dragabble, .dragabble * {
    cursor: move;
    margin: 8px 0;
    line-height: 20px;
}

.dragabble a{
    cursor: pointer !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

div.placeholder {
    position: relative;
    /** More li styles **/
}
div.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
div.table-caption {
    background: #ffeed7;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 0;
    line-height: 20px;
    clear: both;
}
.modal{z-index: 10000 !important;}
